/* confirm.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    background-image: url('/static/bg1.png');
            /* 背景圖片填滿整個畫面 */
            background-size: cover;
            /* 背景圖片居中 */
            background-position: center;
            /* 不要重複背景圖片 */
            background-repeat: no-repeat;
            /* 將背景圖片固定在畫面中 */
            background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.confirm-btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #189e45; /* 確認存儲按鈕的顏色 */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px; /* 設置按鈕邊角為圓弧 */
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: #007bff; /* 滑鼠懸停時的顏色 */
}

.download-btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #007bff; /* 下載按鈕的顏色 */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px; /* 設置按鈕邊角為圓弧 */
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #189e45; /* 滑鼠懸停時的顏色 */
}
