/* control_panel.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    background-image: url('/static/bg1.png');
    /* 背景圖片填滿整個畫面 */
    background-size: cover;
    /* 背景圖片居中 */
    background-position: center;
    /* 不要重複背景圖片 */
    background-repeat: no-repeat;
    /* 將背景圖片固定在畫面中 */
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

.welcome {
    margin-bottom: 20px;
}

.form-container, .result-container {
    background-color: #E9EAF6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 24px); /* Adjust width based on padding */
    background-color: #e7f3ff; /* 淺藍色背景 */
}

input[type="checkbox"] {
    margin-right: 10px;
}

.button-wrapper {
    text-align: center;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.result-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button[name="action"] {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[name="action"][value="update"] {
    background-color: #28a745;
    color: #fff;
    transition: background-color 0.3s ease;
}

button[name="action"][value="update"]:hover {
    background-color: #218838;
}

button[name="action"][value="delete"] {
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s ease;
}

button[name="action"][value="delete"]:hover {
    background-color: #c82333;
}
/* control_panel.css */

/* 其他樣式 */

.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 500px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8); /* 霧面效果背景 */
}

.image-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.image-modal-content, .image-modal-content:hover {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.visual-btn {
    background-color: #f5deb3; /* 米色 */
    color: black;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* 圓角 */
}

.visual-btn:hover {
    background-color: #e6c69d; /* 懸停顏色 */
}
