body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 20px;
    background-image: url('/static/bg1.png');
            /* 背景圖片填滿整個畫面 */
            background-size: cover;
            /* 背景圖片居中 */
            background-position: center;
            /* 不要重複背景圖片 */
            background-repeat: no-repeat;
            /* 將背景圖片固定在畫面中 */
            background-attachment: fixed;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.login-link {
    margin-top: 15px;
}

.login-link a {
    color: #4CAF50;
}
