<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>控制面板</h2>
    <div>歡迎來到控制面板, {{ username }}</div>
    <div>
        <form method="GET" action = "/search">
            <div>
                <input type="checkbox" name="query_medical_history" id="query_medical_history">
                <label for="medical_history">病史:</label>
                <input type="text" name="medical_history" id="medical_history">
            </div>
            <button type="submit">提交</button>
        </form>
        <!-- 查詢結果 -->
        {% if data %}
        <div>
            <p>{{ data }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>