<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>控制面板</title>
  </head>
  <body>
    <h2>控制面板</h2>
    <div>歡迎來到控制面板, {{ username }}</div>
    <div>
      <form method="POST" action="/search">
        {% for field in query_fields %}
        <div>
          <input
            type="checkbox"
            name="use_{{ field.id }}"
            id="use_{{ field.id }}"
          />
          <label for="{{ field.id }}">{{ field.label }}:</label>
          <input type="text" name="{{ field.db_key }}" id="{{ field.id }}" />
        </div>
        {% endfor %}
        <button type="submit">提交</button>
      </form>
    </div>

    <!-- 查詢結果 -->
    <div>
      {% if data %}
      <h3>查詢結果</h3>
      {% for item in data %}
      <div>
        <form method="POST" action="/update_or_delete">
          <p>Data ID: {{ item['_id'] or 'No data' }}</p>
          <label for="病史">病史:</label>
          <input
            type="text"
            name="病史"
            value="{{ item['病史'] or 'No data' }}"
          />
          <label for="診斷資料號">診斷資料號:</label>
          <input
            type="text"
            name="診斷資料號"
            value="{{ item['診斷資料號'] or 'No data' }}"
          />

          <input type="hidden" name="data_id" value="{{ item['_id'] }}" />
          <button type="submit" name="action" value="update">更新</button>
          <button type="submit" name="action" value="delete">刪除</button>
        </form>
      </div>
      {% endfor %} {% else %}
      <p>{{ msg }}</p>
      {% endif %}
    </div>
  </body>
</html>
