<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/templates/style.css">
    <title>主頁面</title>
</head>
<body>
    <h2>主頁面</h2>
    <div>歡迎來到主頁面, {{ username }}</div>
    <hr/>
    <!-- instruction buttom -->
    <div class='download-buttons'>
        <a href="/instructions" class='btn btn-success'>使用說明</a>
    </div>

    <form id="submitForm" method="POST" action="/generate">
        <h1 class="fw-bold">病歷結構化系統</h1>
        <br>
        <br>
        <br>
        <label for='prompt'>請輸入病歷：</label><br/>
        <textarea name='prompt' rows='15' class='input-textarea'></textarea>
        <br/>
        <button type='submit' class='btn btn-primary submit-btn' id='submitBtn'>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style="display: none;"></span>
            提交
        </button>
    </form>

    {% if lines %}
        <div class='result'>
            <table class='table'> <!-- 將表格套用 Bootstrap 樣式 -->
                {% for line in lines[2:] %}
                    {% if '|' in line %}
                        {% set columns = line.split('|') %}
                        <tr>
                            {% for col in columns %}
                                <td>{{ col.strip() }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            
            <!-- 新增下載按鈕並套用bootstrap樣式 -->
            <div class='download-buttons'>
                <a href="/download_txt" class='btn btn-success'>下載病例表格 (txt)</a>
                <a href="/download_word" class='btn btn-warning'>下載病例表格 (docx)</a>
                <!-- <a href="/save_to_mongoDB" method = "POST" class='btn btn-danger'>存至MongoDB資料庫</a> -->
            </div>
        </div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <a href="/logout">登出</a>
</body>
</html>